 /*----------------------Versión Tablet / Ipad------------------------*/

 @media screen and (min-width:471px) and (max-width: 1200px) {
body {
  background: #252b30;
  width: 100%;
    }
    .fotofondo1 {
        background-image: url(../img/fondopc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 700px;
        }
        .color {
        background-color: #252b30;
        background-repeat: no-repeat;
        background-size: cover;
        height: 1500px;
  }

.titulo {
    font-family: 'Bowlby One', cursive;
    padding: 200px;
    font-size: 86px;
    margin-top: 0px;
    text-align: center;
}
.imgface {
  float: left;
}

header{
    height: 57vh;
}

.contactate2{
      width: 400px;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 32px;
      }




 }