/*----------------------Version celular------------------------*/
    
@media screen and (min-width:0px) and (max-width: 470px) {
        body {
    background: #252b30;
    width: 420px;
    height: 3000px        
         }
.fotofondo1 {
    background-image: url(../img/fondopc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
    }
    .color {
    background-color: #252b30;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1500px;    
    }
a {
    color: ;
}
    h1.titulo a {     
    color: white;
}
    .titulo {
    font-size: 50px;
    padding-left: 80px;
    padding-bottom: 80px;
    padding-right: 80px;
    padding-top: 80px;    
    }

    header {
            height: 300px;
    }
    
    .menu {
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    }
    
    .menu2 {
    font-size: 14px;
    height: 50px;
    }
    
    .fotofondo2 {
    background-color: #252b30;
        height: 520px;    
    }
    
    h2 p em {
    font-size: 20px;
    text-align: start;
    margin-left: 120px;
    padding-left: 0px;
    font-size: 18px;
    }
    
    .box {
     height: 206px;
     width: 296px;
    }
    
    img {
    width: 240px;
    height: 210px;
    padding-top: 100px;
}
 
    .fotofondo3 h1 {
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 300px;
    font-size: 15px; 
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 83px;
    text-align: center;
}    
    
    .subimg2 h2 {
        font-size: 22px;
    }
    
    .menufinal ul{
    font-size: 15px;
    text-align: start;
    }
    
    .menufinal {
        padding-left: 50px;
    }
    
    .menufinal2 {
        padding-left: 0px;
        }
    
    .menufinal2 ul {
    font-size: 16px;
    text-align: center;
    padding-top: 20px;
    }
    
    .fotofondo3 {
      height: 401px;
    }
    
    .contactate {
        height: 405px;
        padding-top: 5px;
    }

    .fotofondo4 lu {
        font-size: 10px;
    }
    
    .fotofondo4 lu h1 {
        padding-left: 0px;
            font-size: 24px;
    }
    
    .blah {
        display:inline-block 
    }
    
    .formulario {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .colortext  {
        padding-left: 0px;
        margin: 0px
    }
    
    .fotofondo4 {
        height: 790px;
    }

    .contactate h1 {
        font-size: 23px;
        padding-left: 45px;
        padding-top: 80px;
        width: 320px;
    }
    
    .seccioncontacto {
            height: 200px;
            background-color: black
    }
   
    .fotofondo4 h2{
        padding-left: 10px;
    }
   
    .contactofinal lu {
        padding-left: 0px;
    }
    
    .contactofinal lu {
     width: 320px;
     height: 30px;
     text-align: center;
     padding-left: 73px;
     margin-top: 0px;
     margin-bottom: 0px;
     font-size: 19px;
    }

    .menu h1 a {
        padding-left: 5px:
    }

    .consulta h1 {
    padding-left: 39px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 23px;
    margin-bottom: 0px;
    padding-top: 20px;    
    }
  
    .contactofinal {
    padding-left: 12px;
    font-size: 19px;
    padding-right: 0px;
    text-align: center;
    }
 
    .contactofinal1 h2 lu {
    padding-left: 12px;
    font-size: 15px;
    padding-right: 0px;
    text-align: center; 
    margin-left: 0px;    
    }
   
    .accordion lu {
        font-size: 16px;
    }

    .accordion-content {
        font-size: 14px;
    }
    
    .div-img h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 95px;

    }
  
    .img {
    width: 274px;
    height: 250px;
    padding-top: 90px;
    padding-top: 0px;
    border-top-width: 90px;
    margin-top: 90px;
    width: 264px;
    height: 150px;    
    }
    
    .fondoaccesorios {
        background-color: white;
        height: 900px;
    }

    .color {
     width: 350px;
    }
   
    .box {
       margin-left: 60px;
    }

    .fotofondo3 h2 lu, ul {
        font-size: 10px;
    }

    .boton2 {
        padding-left: 
    }
    
    .menufinal2 {
        display: non
    }
   
    .item {
        display: none;
    }

}






    